* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: darkslategray;
  color: white;
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;
  vertical-align: middle;
  height: 130px;
  width: auto;
}

header h1 {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  
}

header nav a {
  display: inline-block;
  float: right;
  color: white;
  text-align: right;
  font-size:large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}